html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-color:#e8e7e4;
}

#container {
	padding-top: 0px;
	width: 800px;
	margin: 0 auto;
	/* text-align: center; */
}

#main3,#main4,#main5,#main6,#main7,#main8,#main9 {
	margin: 0 auto;
}